:root {
  --type-family-primary: 'Open Sans', sans-serif;
  --type-family-accent: 'Lora', serif;
  --type-size-100: 14pt;
  --type-size-200: 18pt;
  --type-size-300: 21pt;
  --type-weight-400: 400;
  --type-weight-500: 600;
  --type-weight-600: 800;
}
