@use '@lkummer/break' as break;
@use '../theme/screen';

.navigation {
  @include break.media-under('small', screen.$breakpoints) {
    justify-content: center;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

  &-item {
    color: var(--color-foreground-500);
    display: inline-block;
    font-size: var(--type-size-200);
    font-weight: var(--type-weight-500);
    padding: var(--space-200);
    text-decoration: none;

    &:hover {
      color: var(--color-foreground-400);
    }

    &:active {
      color: var(--color-foreground-300);
    }

    &-active {
      border-bottom: var(--space-50) solid var(--color-foreground-400);
      color: var(--color-foreground-400);
      padding-bottom: calc(var(--space-200) - var(--space-50));
    }

    &-title {
      @include break.media-under('small', screen.$breakpoints) {
        font-size: var(--type-size-300);
        padding-bottom: var(--space-50);
        padding-right: 0;
      }

      font-weight: var(--type-weight-600);
      margin: 0;
      padding-left: 0;
    }

    &-grow {
      @include break.media-under('small', screen.$breakpoints) {
        flex-basis: 100%;
        text-align: center;
      }

      flex-grow: 1;
    }
  }
}
